/*Global import*/
/*Project import*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none !important; }

blockquote {
  border: none;
  font-size: 16px; }

.menu {
  line-height: 30px; }
  .menu__item {
    text-transform: uppercase;
    padding: 10px;
    display: inline-block; }
  .menu__bottom {
    text-transform: uppercase;
    padding: 10px;
    display: inline-block; }

.upc {
  text-transform: uppercase; }

.bol {
  font-weight: bold; }

.link {
  color: #ffffff;
  text-decoration: none; }
  .link:hover {
    color: #00e0d0;
    text-decoration: none; }

.sc {
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px; }
  .sc-welcome {
    padding-top: 20px;
    padding-bottom: 0px;
    background: url(../res/img/bg_top.png);
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover; }
  .sc-video {
    background: url(../res/img/bg_video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative; }
  .sc-team {
    background: url(../res/img/bg_team.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; }
  .sc-about {
    background: url(../res/img/bg_peoplesay.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; }
  .sc-footer {
    background: url(../res/img/bg_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white; }

.heading-carousel {
  font-size: 2em; }

.heading-story {
  font-size: 2em;
  margin: 0; }

.heading-expertise {
  font-size: 2.5em; }

.heading-team {
  font-size: 2.5em; }

.heading-gal {
  font-size: 2.5em; }

.heading-news {
  font-size: 2.5em; }

.heading-client {
  font-size: 2.5em; }

.heading-footer {
  font-size: 1.5em; }

.heading-gal {
  text-align: left; }

.text-carousel {
  font-size: 1em;
  line-height: 1.75em;
  margin-top: 40px;
  margin-bottom: 40px; }

.text-story {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: 20px;
  margin-bottom: 20px; }

.text-expertise {
  font-size: 0.9em;
  line-height: 1.6em; }

.text-blockquote {
  font-size: 1em;
  line-height: 1.9em; }

.text-footer {
  font-size: 0.85em;
  line-height: 1.6em; }

.text-become {
  display: block; }

.carousel {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-height: 385px; }

.carousel-indicators {
  top: 50vh; }

.carousel-indicators li.active {
  background: #00e0d0; }

.heading-carousel:after {
  margin: 35px auto;
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background: #00e0d0; }

.row-expertise {
  margin-top: 80px;
  margin-bottom: 80px; }

.team-subheading {
  margin-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.row-teams {
  margin-top: 40px;
  margin-bottom: 40px; }
  .row-teams-join {
    margin-top: 20px;
    margin-bottom: 20px; }

.join {
  margin-bottom: 40px; }

.subheading-expertise:after {
  margin: 35px auto;
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background: #000000; }

.team-des-after:after {
  margin: 35px auto;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #ffffff; }

.team-subheading:after {
  margin: 35px auto;
  content: "";
  display: block;
  height: 1px;
  width: 50px;
  background: #ffffff; }

.carousel-inner {
  color: #ffffff; }

.btn-default {
  text-transform: uppercase;
  color: #00e0d0;
  margin: 0px !important;
  background: none;
  border: 1px solid #00e0d0;
  padding: 10px; }
  .btn-default:hover {
    background: none;
    color: #00e0d0;
    border: 1px solid #00e0d0; }

.story-heading {
  margin: 0; }

.video-link {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%); }

.team-photo {
  width: 220px; }

.expertise-img {
  height: 42px; }

.gal-heading {
  margin-bottom: 80px; }

.heading-gal {
  margin: 0;
  display: inline; }

.gal-link {
  display: inline;
  margin-left: 60%; }

.right-arrow {
  width: 12px; }

.gal-wrap {
  column-count: 4;
  column-gap: 5px; }

.gal-item {
  display: inline-block;
  padding-bottom: 5px;
  width: 100%;
  margin: 0; }

.gal-load {
  margin-top: 60px; }

.form-heading,
.form-control,
.btn-form {
  margin-top: 20px;
  margin-bottom: 20px; }

.form-control {
  border-radius: 0; }

.form-heading {
  margin-bottom: 50px; }

.heading-client {
  margin-left: 20px;
  margin-bottom: 30px; }

.clients-table {
  font-size: 0; }

.clients-items {
  display: inline-block;
  width: 50%;
  padding: 20px;
  box-sizing: border-box; }

.fa-map-marker {
  padding-right: 20px; }

.container-icons {
  margin-top: 44px;
  display: block;
  float: none;
  clear: both; }

.form-group-bot {
  font-size: 0; }

.mail-input {
  display: inline-block;
  background: transparent;
  padding: 10px;
  margin-top: 30px;
  border: 2px solid grey;
  font-size: 12px;
  padding: 12px; }

.bt-bot {
  display: inline-block;
  margin-top: 30px;
  font-size: 0px;
  background: gray url(../res/img/button_bottom.png) center no-repeat;
  border: none;
  outline: none;
  margin-left: 20px;
  width: 75px;
  height: 45px;
  vertical-align: bottom; }

.footer-icon {
  float: left;
  margin-right: 10px; }

.text-footer {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: auto; }

.row-social {
  margin-top: 25px; }

.social-icons {
  margin-top: 10px;
  margin-bottom: 10px; }

@media all and (max-height: 750px) {
  .carousel-indicators {
    display: none; } }

@media all and (max-width: 1200px) {
  body {
    font-size: 12px; }
  .sc {
    padding-top: 50px;
    padding-bottom: 50px; }
  .gal-link {
    display: block;
    margin: 0; }
  .heading-gal {
    text-align: center; }
  .gal-wrap {
    margin: 0 auto;
    column-count: 3; }
  .clients-items img {
    width: 100px; } }

@media all and (max-width: 992px) {
  .team-photo {
    width: 100%; }
  .heading-news,
  .heading-client {
    font-size: 2em; }
  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    text-align: center; }
  .footer-icon {
    float: none;
    padding: 10px; }
  .text-footer {
    margin-top: 10px;
    margin-bottom: 10px; }
  .container-icons {
    margin-top: 0; } }

@media all and (max-width: 768px) {
  .nav {
    display: none; }
  .content-resp-center {
    text-align: center; }
  .sc {
    padding-top: 30px;
    padding-bottom: 30px; }
  .row-expertise {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .become-text {
    margin-top: 40px !important; }
  .become-btn {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .team-photo {
    width: 70%; }
  .row-teams {
    margin: 0; }
  .gal-heading {
    margin-bottom: 40px; }
  .gal-wrap {
    margin: 0 auto;
    column-count: 2;
    column-gap: 5px; }
  .gal-item {
    padding-bottom: 5px; }
  .heading-story {
    margin-top: 10%; }
  .team-des-after {
    font-size: 15px; }
  .team-des-after:after {
    display: none; }
  .clients-items {
    text-align: center; }
  .menu {
    margin-top: 2vh;
    text-align: center; }
  .text-expertise {
    margin: 5% 20%; }
  .clients-items img {
    width: 45%; }
  .contacts {
    font-size: 1.5em; }
  .clients {
    width: 100%; }
  .form-heading {
    width: 100%; }
  .form-group {
    text-align: center;
    font-size: 1.5em; }
  .heading-client {
    text-align: center;
    font-size: 2em !important; } }

@media all and (max-width: 576px) {
  body {
    font-size: 10px; }
  .video-link {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%); }
  .menu__item {
    display: list-item;
    font-size: 14px;
    text-align: right;
    padding: 0;
    margin-bottom: 10px; }
  .heading-carousel {
    width: 100%; }
  .carousel {
    margin-top: 10%;
    width: 90%; }
  .carousel-indicators {
    display: none; }
  .heading-team {
    font-size: 2.2em; }
  .clients-items {
    text-align: center; }
  .bt-bot {
    margin-left: 0; } }
