

@mixin upcase{
    text-transform: uppercase;
}

@mixin bold{
    font-weight: bold;
}



@mixin bg-sc-welcome{
    background: url(../res/img/bg_top.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

